@model LopHoc

<div class="container"
    ID:<b>@Model.ID</b>
    Tên lớp học:<b>@Model.TenLopHoc</b>
    Năm nhập học:<b>@Model.NamNhapHoc</b>
    Năm ra trường:<b>@Model.NamRaTruong</b>
    Số lượng sinh viên:<b>@Model.SoLuongSinhVien</b>
   
</div>
